<% if @user.card_num == 2 %>
<p>Dear <b><%= @user.first_name %> and <%= @user.partner_first_name %></b>,</p>
<% else %>
<p>Dear <b><%= @user.first_name %></b>,</p>
<% end %>

<p>Your <%= t('site_name') %> has <b>EXPIRED</b> and will no longer be accepted at any of our participating <%= t('site_name') %> merchants. We hope you’ve had a great time shopping and saving in your neighbourhood!</p>

<p>In order to continue enjoying the many benefits of the <%= t('site_name') %> program, including fantastic savings at all of your favourite stores, you must renew your card now. Renewing your card is quick and easy and can be completed in a few simple steps. </p>

<p>
    <ul> 
	<li>Click <%= link_to('HERE', renew_membership_url(:code => @user.activation_code) ) %> to get started.</li>
    <li>Confirm that your personal information and shipping address listed are still correct and click Renew.</li>
    <li>You will be taken to the PayPal site. Please note that you do NOT have to log in to PayPal in order to make your Shop the Block purchase.</li>
    <li>Pay for your Shop the Block card with a credit card by selecting the buttons that say 'Continue' and 'Continue without logging in’.</li>
	</ul>
</p>

<p>Renew your card now to continue enjoying the EXCLUSIVE benefits of Shop the Block, while also supporting local independent merchants.</p>

<p>Here are some of the great reasons to renew your membership now:</p>

<p>
	<ul>
		<li>Savings of up to <b>20%</b> at some of the best stores in your neighbourhood.</li>
		<li>Exclusive, limited time offers ONLY for <%= t('site_name') %> cardholders. Think extra savings, above your day-to-day discounts from some of your favourite merchants, just for being a STB cardholder.</li>
		<li>Savings at over 150 merchants, including clothing boutiques, restaurants, cafes and spas.</li>
		<li>New merchants joining Shop the Block WEEKLY, which means more opportunities to save are coming your way every week!</li>
	</ul>
</p>

<p>Click <%= link_to('HERE', renew_membership_url(:code => @user.activation_code)) %> to renew your card now!</p>

<p>For any assistance, please contact us at <a href="mailto:info@shoptheblock.ca">info@shoptheblock.ca</a> or at 416-938-8551.</p>

<p>Best,</p>

<p>The Shop the Block team</p>

