<p>Dear <b><%= @user.first_name   %></b>,</p>

<p>
  Please click on the link below to reset your password:
</p>

<p>
  <%= link_to(nil, reset_password_url(:code => @user.password_reset_code)) %>
</p>

<% if ( (Time.now + 30.days) >= @user.membership_expiration) %>

<p>As a valued <%= t('site_name') %> member, we wanted to let you know that your STB card is set to expire within the next 30 days or less.</p>

<p>Renew your card BEFORE it expires and you’ll get an additional 1 month FREE added to your 12 month membership. That’s 13 months for the price of 12! It’s our way of saying thanks for being part of Shop the Block!</p>

<p>Renewing your card is quick and easy and can be completed in a few simple steps. </p>

<p>
<ul>
	<li>Click <%= link_to('HERE', renew_membership_url(:code => @user.activation_code) ) %> to get started.</li>
	<li>Confirm that your personal information and shipping address listed are still correct and click Renew.</li>
	<li>You will be taken to the PayPal site. Please note that you do NOT have to log in to PayPal in order to make your Shop the Block purchase.</li>
	<li>Pay for your Shop the Block card with a credit card by selecting the buttons that say 'Continue' and 'Continue without logging in’.</li>
</ul>
</p>

<p>Renew your card now to continue enjoying the EXCLUSIVE benefits of Shop the Block, while also supporting local independent merchants.</p>

<p>Click <%=link_to('HERE', renew_membership_url(:code => @user.activation_code) ) %> to renew your card now!</p>

<p>For any assistance, please contact us at info@shoptheblock.ca or at 416-938-8551.</p>

<% end %>