<!--
==============================================================================
SHIPPING ADDRESS
==============================================================================
-->
<tr>
  <th colspan="2">Shipping Address</th>
</tr>
<tr>
  <td class="label">Address:</td>
  <td class="value">
    <%= text_field_tag("user[shipping_location][address]", @user.shipping_address, :size => 40 ) %>
    <br/>
    <span class="example">20 Some Street</span>
  </td>
</tr>
<tr>
  <td class="label">Address 2:</td>
  <td class="value">
    <%= text_field_tag("user[shipping_location][address2]", @user.shipping_address2, :size => 40) %>
    <br/>
    <span class="example">Apt 123, Suite B, etc. (optional)</span>
  </td>
</tr>
<tr>
  <td class="label">City:</td>
  <td class="value">
    <%= text_field_tag("user[shipping_location][city]", @user.shipping_city, :size => 20) %>
    <br/>
    <span class="example">Toronto, Montreal, etc.</span>
  </td>
</tr>
<tr>
  <td class="label">Province:</td>
  <td class="value"><%= select_tag(
    "user[shipping_location][province]",
    options_for_select(BillingHelper::BILLING_PROVINCES_OPTIONS_FOR_SELECT, @user.shipping_province || "ON")
  ) %></td>
</tr>
<tr>
  <td class="label">Postal Code:</td>
  <td class="value">
    <%= text_field_tag("user[shipping_location][postalcode]", @user.shipping_postalcode, :size => 20) %>
    <br/>
    <span class="example">M5N 2P4, M2N 5X9, etc</span>
  </td>
</tr>
<% if is_signup %>
  <tr>
    <td colspan=2>
      <%= check_box_tag('billing_use_shipping', "1", false) %>
      Billing address is the same as shipping address
    </td>
  </tr>
<% end %>
