<h1>Password Reset</h1>

<% if @user %>

<p>To reset your password, please enter your email address and new password:</p>

<%= error_messages_for :user %>

<% form_tag() do %>
  <%= hidden_field_tag('code', @reset_code) %>

<table>
  <tr>
    <td class="label">Email:</td>
    <td class="value"><%= text_field_tag('email', nil, :size => 40, :maxlength => 200)  %></td>
  </tr>
  <tr>
    <td class="label">New Password:</td>
    <td class="value"><%= password_field_tag('user[password]', nil, :size => 20, :maxlength => 20)  %></td>
  </tr>
  <tr>
    <td class="label">Confirm Password:</td>
    <td class="value"><%= password_field_tag('user[password_confirmation]', nil, :size => 20, :maxlength => 20)  %></td>
  </tr>
</table>

<div>
  <%= submit_tags(:submit_key=>'users.reset_password.submit', :cancel_url=>root_path) %>
</div>

<% end # form %>

<% else # if (code not specified or did not match a registered user)  %>

<p>
  We're sorry, but the reset code is invalid. If you believe you have received
  this message in error, please <%= link_to('click here for help', :support) %>.
</p>

<% end # if %>
