<h1>Frequently asked questions</h1>
<p><strong>Q: How long is my card valid for?</strong><br />
A: Each card is valid for one full year from the date of purchase.</p>
<p><strong>Q: Do I get the same discount at every store?</strong><br />
A: No. Each merchant has agreed to their own individual discount based on the type of product or service they offer. You can view all participating businesses with their respective discounts <%= link_to "here", :participating_stores %>.</p>
<p><strong>Q: Can I get the discount on sale items?</strong><br />
A: Unfortunately not. The discount applies to regular priced merchandise only and cannot be combined with any other store offer or promotion unless otherwise specified.</p>
<p><strong>Q: Can I still get the discount if I leave my card at home?</strong><br />
A: No. You must present your valid membership card before checkout every time you want to use it.</p>
<p><strong>Q: What if I lose my card?</strong><br />
A: <%= t('site_name') %> will offer one free replacement card per year – you just pay for the nominal shipping fee.</p>
<p><strong>Q: How do you choose the businesses that participate?</strong><br />
A: We find businesses all kinds of ways! Shop the Block started by contacting the local merchants in Lauren’s neighbourhood but, is quickly spreading across the GTA. We’re keen to sign up any and all independent businesses throughout the city. Do you have a shop to suggest? Email us at <%= email_link(:info) %>. Are you a merchant who’d like participate in Shop the Block? Learn more <%= link_to "here", :merchant_info %>.</p>
<p><strong>Q: Where can I learn more about participating Shop the Block businesses?</strong><br />
A: See our list of businesses <%= link_to "here", :participating_stores %>. Be sure to sign up for our free bi-weekly <%=link_to "e-newsletter", news_items_path %> that features behind the scenes information about and fun finds from our fabulous merchants.</p>
<p><strong>Q: Can I share my card with my family?</strong><br />
A: No. Each membership card is assigned to one individual only, but you can purchase an extra card for a spouse for only $10 more.</p>
<p><strong>Q: I signed up for the Shop the Block card because my favourite store was listed on the site but now they no longer participate – can I refund my card?</strong><br />
A: We guarantee that the Shop the Block discount will be offered for one full year from the time a business signs on, but occasionally merchants will not renew their participation after the year is up. Let us know how important this business is to you and we’ll try to get them back!</p>


<p><strong>Q: Why should I log in?</strong><br />
A: Logging in to the Shop the Block website at every visit allows you access to the My Neighbourhood page where you will see a customized list of the closest shops to you, tailored to your preferences.</p>
<p><strong>Q: What is the My Neighbourhood page?</strong><br />
A: My Neighbourhood is a tailored list of the businesses in all the categories you’ve selected that are important to you (such as restaurants, clothing stores, in-home services) within a close proximity to your home. Each member’s page is unique to their individual location and preferences.</p>
<p><strong>Q: How do I change my preferences?</strong><br />
A: You can change your settings at any time by logging in and selecting My Account. Then choose Edit Settings to change your general information and/or category preferences.</p>

<p>Have more questions? Email us at <%= email_link(:info) %></p>