<% if !current_user.nil? || (!current_user.nil? && !current_user.expired?) %>
<b style="font-size: 13pt">NEWS ALERTS</b>
<div id="news">
  <% news_items.each_with_index do |ni,i| %>
    <div class="news_item <%= cycle('odd','even') %>" style="<%= i >= 5 ? 'display: none;' : '' %>">

      <p style="font-size: 10pt; line-height: 14pt; margin-bottom: 10px;">
        <strong><%= link_to("#{truncate ni.title, :length => 40}", news_item_path(ni)) %></strong><br/>
        <%= truncate ni.description, :length => 44 %>
      </p>

    </div>
  <% end %>
</div>
<%= link_to "More news...", news_items_path %>
<% end%>