<h1><%= @promotion.new_record? ? "New" : "Editing" %> <%= @promotion.promotion? ? "Promotion" : "Discount" %></h1>
<%
merchant = @promotion.merchant || @promotion.store.merchant
%>
<% form_for(
  @promotion,
  :url => @promotion.new_record? ? merchant_promotions_path(merchant) : promotion_path(@promotion),
  :html => { :multipart => true }
) do |f| %>

  <%= f.error_messages %>

<table class="editform">

  <tr>
    <td class="label">Merchant:</td>
    <td class="value"><%= merchant.name %></td>
  </tr>

  <tr>
    <td class="label">Store:</td>
    <td class="value">
      <%= f.select(
        :store_id,
        [["All Stores", ""]].concat(
          merchant.stores.all.collect{|s| [s.location.display_address, s.id]}
        )
      ) %>
    </td>
  </tr>

  <tr>
    <td class="label">Headline:</td>
    <td class="value"><%= f.text_field :headline, :size => 40 %>
  </tr>

  <tr>
    <td class="label">Description:</td>
    <td class="value"><%= f.text_area :description, :cols => 40, :rows => 4 %>
  </tr>
  <% if @promotion.promotion? %>
    <tr>
      <td class="label">Start Date:</td>
      <td class="value"><%= calendar_date_select_tag('promotion[start_date]', nil, :popup=>true) %></td>
    </tr>
    <tr>
      <td class="label">End Date:</td>
      <td class="value"><%= calendar_date_select_tag('promotion[end_date]', nil, :popup=>true) %></td>
    </tr>
  <% end %>
  <tr>
    <td class="label">Photo:</td>
    <td>
      <div>
        <%= f.file_field :photo, :class => 'inputtext' %>
      </div>
      <% if !@promotion.photo.nil? && @promotion.photo.file? %>
        <div><%= image_tag(@promotion.photo.url(:original))  %></div>
      <% end %>
    </td>
  </tr>

</table>

<p>
  <%= f.hidden_field :promotion_type, :value => (@promotion.promotion? ? Promotion::Type[:promotion] : Promotion::Type[:discount]) %>
  <%= submit_tags(:cancel_url => merchant_path(merchant)) %>
</p>
<% end %>
